<!DOCTYPE HTML>
<html>

<head>
    <title>Home</title>
    <link href="//cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__static/css/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Blogname Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="__PUBLIC__static/js/move-top.js"></script>
    <script type="text/javascript" src="__PUBLIC__static/js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>
    <!---->

</head>

<body>
<!---strat-banner---->
<div class="banner">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"> <img src="__PUBLIC__static/images/logo.png" title="soup"/></a>
            </div>
            <!---start-top-nav---->
            <div class="top-menu">
                <span class="menu"> </span>
                <ul>
                    <li class="active"><a href="<?php echo url('index/index/index'); ?>">主页</a></li>
                    <li><a href="<?php echo url('index/contact/contact'); ?>">联系我</a></li>
                    <li><a href="terms.html">关于我</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
            <script>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                });
            </script>
            <!---//End-top-nav---->
        </div>
    </div>
    <div class="container">
        <div class="banner-head">
            <h1>李志良的个人博客</h1>
            <h2>有朋自远方来，不亦乐乎！</h2>
        </div>
        <div class="banner-links">
            <ul>
                <li class="active"><a href="#">主页</a></li>
                <li><a href="#">文章归档</a></li>
                <li><a href="#">关于我</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
</div>
<!---//End-banner---->
<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="col-md-8 content-main">
                <div class="content-grid">
                    <div class="content-grid-head">
                        <h3>文章信息</h3>
                        <h4>2014年7月24日，作者：<a href="#">李志良</a></h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content-grid-single">
                        <h3>命运是一种格局，活着是一种态度</h3>
                        <span>易经文化，上知天文，下知地理，包括万千，上有四季，下有传统，我们了解的太阳，文字里的书房，未必能找到心灵的天窗，有人把季节分为时间，也有人把季节划分为人为。</span>
                        <img class="single-pic" src="__PUBLIC__static/images/c1.jpg" alt=""/>
                        <p>物竞天择，人选天下活，物死人间花，不是每个人都能知道什么是太阳的含义，也不是每个人都能解释所谓的生死。
                            　　
                            　　一个花开花落，有人抱怨时间，有个生死有度，有人抱怨享福太少。
                            　　
                            　　打开内心世界，你能找到属于自己的太远，打开人生的生死放纵，理解和表达，你能找到属于别人的阳光。
                            　　
                            　　生死的制度是一个人的价值观，生活观，思维观，表达观，持续观。
                            　　
                            　　有一种法则是命运，也有一个太阳叫做心跳，但是看法不是说法，说法会称为看法，沉默的语言也许是第二个太阳，但是冷静的制度会让你在傍晚看到月缺月圆。
                            　　
                            　　一个月亮，可以衡量别人心中的太阳，一个太阳，可以衡量一个人的表达方式，思维程度，语言命运。
                            　　
                            　　当你发现自己的思维逻辑总是被被人抄袭的时候，你心中的太阳，就是别人的一粒朱砂，当你发现你的能力文化总是不能超越的时候，那么你的心灵城市已经找不到生死的原理和命运的度量。</p>

                        <div class="content-form">
                            <h3>留下你的评论</h3>
                            <form>
                                <input type="text" placeholder="Name" required/>
                                <input type="text" placeholder="E-mail" required/>
                                <input type="text" placeholder="Phone" required/>
                                <textarea placeholder="Message"></textarea>
                                <input type="submit" value="SEND"/>
                            </form>
                        </div>
                        <div class="comments">
                            <h3>评论</h3>
                            <div class="comment-grid">
                                <img src="__PUBLIC__static/images/pic.png" alt=""/>
                                <div class="comment-info">
                                    <h4>MARK JOHNSON</h4>
                                    <p>Vivamus congue turpis in laoreet sem nec ultrices. Fusce blandit nunc vehicula
                                        massa vehicula tincidunt. Nam venenatis
                                        cursus urna sed gravida. Ut tincidunt elit ut quam malesuada consequat. Sed
                                        semper.</p>
                                    <h5>On April 14, 2014, 18:01</h5>
                                    <a href="#">回复</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="comment-grid">
                                <img src="__PUBLIC__static/images/pic.png" alt=""/>
                                <div class="comment-info">
                                    <h4>MARK JOHNSON</h4>
                                    <p>Vivamus congue turpis in laoreet sem nec ultrices. Fusce blandit nunc vehicula
                                        massa vehicula tincidunt. Nam venenatis
                                        cursus urna sed gravida. Ut tincidunt elit ut quam malesuada consequat. Sed
                                        semper.</p>
                                    <h5>On April 14, 2014, 18:01</h5>
                                    <a href="#">回复</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="pages">
                                <ul>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">上一页</a></li>
                                    <li><a href="#">下一页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 content-main-right">
                <div class="search">
                    <h3>搜索一下</h3>
                    <form>
                        <input type="text" value="" onFocus="this.value=''" onBlur="this.value=''">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="categories">
                    <h3>分类</h3>
                    <li class="active"><a href="#">我的个人感悟</a></li>
                    <li><a href="#">我的个人感悟</a></li>
                    <li><a href="#">我的创业感悟</a></li>
                </div>
                <div class="archives">
                    <h3>文章归档</h3>
                    <li class="active"><a href="#">2014年7月</a></li>
                    <li><a href="#">2014年6月</a></li>
                    <li><a href="#">2014年5月</a></li>
                </div>
                <div class="archives">
                    <h3>文章标签</h3>
                    <li class="active"><a href="#">文章标签1</a></li>
                    <li><a href="#">文章标签2</a></li>
                    <li><a href="#">文章标签3</a></li>
                    <li><a href="#">文章标签4</a></li>
                </div>
                <div class="archives">
                    <h3>友情链接</h3>
                    <li class="active"><a href="http://www.baidu.com" target="_blank">百度搜索</a></li>
                    <li><a href="http://blog.54yongf.com" target="_blank">Scott Wang的个人博客</a></li>
                    <li><a href="http://github.com" target="_blank">Github</a></li>
                    <li><a href="http://www.huawei.com" target="_blank">加入华为，大有可为</a></li>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--fotter-->
<div class="fotter">
    <div class="container">
        <div class="col-md-4 fotter-info">
            <h3>梦想是要有的，万一实现了呢</h3>
            <p>你以为我贫穷、相貌平平就没有感情吗?我向你发誓，如果上帝赋予我财富和美貌，我会让你无法离开我，就像我现在无法离开你一样。
                虽然上帝没有这么做，可我们在精神上依然是平等的。</p>
            <p>一个人并不是生来要被打败的，你尽可以把他消灭掉，可就是打不败他。</p>
        </div>
        <div class="col-md-4 fotter-list">
            <h3>最近文章</h3>
            <ul>
                <li><a href="#">梦想还是要有的，万一实现了呢</a></li>
                <li><a href="#">梦想还是要有的，万一实现了呢</a></li>
                <li><a href="#">梦想还是要有的，万一实现了呢</a></li>
            </ul>
        </div>
        <div class="col-md-4 fotter-media">
            <h3>关注我</h3>
            <div class="social-icons">
                <a href="#"><span class="fb"> </span></a>
                <a href="#"><span class="twt"> </span></a>
                <a href="#"><span class="in"> </span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---fotter/-->
<div class="copyright">
    <div class="container">
        <p>Copyright &copy; 2015.Company name All rights reserved.<a href="http://blog.54yongf.com/" target="_blank"
                                                                     title="Scott Wang">Scott Wang</a></p>
    </div>
</div>
<!---->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>

</html>